.calc-1{
    border: 1px solid #000;
}
h1{
    font-size: medium;
}


h2{
    text-align: center;
}
.calc-2{
   

    
    width: 200px;
    height: 250px;
    background-color: #dcd3d3;
    border-radius: 5px;
}

#calcStr{
    margin-left: 15px;
    
    
    
}

.btnCorrect{
    margin-top: 10px;
    margin-left: 60px;
}
.block{
    display: flex;
    justify-content: center;
    
    

}
.operation {
    width: 40px;
    padding: auto;

    
}  
.btnNumber{
    display: block;
    margin-left: 10px;
    width: 120px;
      
}

.calcresult{
    width: 35px;
    background-color: rgb(161, 93, 10);
border-radius: 5PX;
}
.calcbtn{
    width: 35px;
    background-color: bisque;
border-radius: 5PX;
}
.operbtn{
    background-color: rgb(68, 104, 92);
    border-radius: 5PX;
    width: 35px;
}